h1{
    font-size: 30px;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;
    font-family: Arial,Arial, Helvetica, sans-serif;
}

#whitespace {
    margin: 100px 20px 100px 100px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

    li a:hover {
        background-color: #ff6600;
    }

img {
    float: right;
    margin: 0px 0px 15px 20px;
}

body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}